In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import csv

In [2]:
#define data to pull from WHO GHO API
url= "https://ghoapi.azureedge.net/api/SA_0000001476"
url1= "https://ghoapi.azureedge.net/api/SA_0000001398"
url2= "https://ghoapi.azureedge.net/api/SA_0000001732"
url3= "https://ghoapi.azureedge.net/api/SA_0000001523"
url4= "https://ghoapi.azureedge.net/api/WHOSIS_000002"
url5= "https://ghoapi.azureedge.net/api/SA_0000001822"
url6= "https://ghoapi.azureedge.net/api/SA_0000001398"
url7= "https://ghoapi.azureedge.net/api/TAXBEV_MOSTSOLDSPIRIT"
url8= "https://ghoapi.azureedge.net/api/SA_0000001400_ARCHIVED"
url9= "https://ghoapi.azureedge.net/api/SA_0000001688"
url10= "https://ghoapi.azureedge.net/api/SA_0000001398_ARCHIVED"

In [3]:
# list to store URLS 
urls= [url,url1,url2,url3,url4,url5,url6,url7,url8, url9, url10]

# Dictionary to store dataframes
dataframes = {}

# Fetch data from each URL and create dataframes
for idx, url in enumerate(urls):
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        df_name = f"df_{idx}"  # Name the dataframe
        dataframes[df_name] = pd.DataFrame(data)
        print("Data from", url, "has been fetched and stored in", df_name)
    else:
        print("Failed to fetch data from", url)

Data from https://ghoapi.azureedge.net/api/SA_0000001476 has been fetched and stored in df_0
Data from https://ghoapi.azureedge.net/api/SA_0000001398 has been fetched and stored in df_1
Data from https://ghoapi.azureedge.net/api/SA_0000001732 has been fetched and stored in df_2
Data from https://ghoapi.azureedge.net/api/SA_0000001523 has been fetched and stored in df_3
Data from https://ghoapi.azureedge.net/api/WHOSIS_000002 has been fetched and stored in df_4
Data from https://ghoapi.azureedge.net/api/SA_0000001822 has been fetched and stored in df_5
Data from https://ghoapi.azureedge.net/api/SA_0000001398 has been fetched and stored in df_6
Data from https://ghoapi.azureedge.net/api/TAXBEV_MOSTSOLDSPIRIT has been fetched and stored in df_7
Data from https://ghoapi.azureedge.net/api/SA_0000001400_ARCHIVED has been fetched and stored in df_8
Data from https://ghoapi.azureedge.net/api/SA_0000001688 has been fetched and stored in df_9
Data from https://ghoapi.azureedge.net/api/SA_0000001398_ARCHIVED has been fetched and stored in df_10

In [4]:
# Assuming dataframes is a dictionary containing DataFrames
for df_name, df in dataframes.items():
    # Expand dictionaries into separate columns and rows
    expanded_df = pd.json_normalize(df['value'])  # Replace 'your_column_name_here' with the actual column name
    
    # Assign the expanded DataFrame back to the original variable
    globals()[df_name] = expanded_df
    
    # Write DataFrame to CSV
    csv_filename = f"{df_name}.csv"
    expanded_df.to_csv(csv_filename, index=False)  # Fixing the syntax here
    print(f"DataFrame '{df_name}' has been written to '{csv_filename}' CSV file.")
    print()

DataFrame 'df_0' has been written to 'df_0.csv' CSV file.

DataFrame 'df_1' has been written to 'df_1.csv' CSV file.

DataFrame 'df_2' has been written to 'df_2.csv' CSV file.

DataFrame 'df_3' has been written to 'df_3.csv' CSV file.

DataFrame 'df_4' has been written to 'df_4.csv' CSV file.

DataFrame 'df_5' has been written to 'df_5.csv' CSV file.

DataFrame 'df_6' has been written to 'df_6.csv' CSV file.

DataFrame 'df_7' has been written to 'df_7.csv' CSV file.

DataFrame 'df_8' has been written to 'df_8.csv' CSV file.

DataFrame 'df_9' has been written to 'df_9.csv' CSV file.

DataFrame 'df_10' has been written to 'df_10.csv' CSV file.

In [5]:
#clean and transfor df_0 Per Houshold % expenditure  consumption
df_0clean = df_0[['SpatialDim', 
                  'ParentLocationCode', 
                  'TimeDim', 
                  'Value', 
                  'TimeDimensionValue']]
df_0clean.columns = ['SpatialDim', 
                     'ParentLocationCode', 
                     'TimeDim', 
                     'PercentHouseholdExp', 
                     'TimeDimensionValue']
display(df_0clean)

,SpatialDim,ParentLocationCode,TimeDim,PercentHouseholdExp,TimeDimensionValue
0,FIN,EUR,2009,4.8,2009
1,USA,AMR,2000,1,2000
2,ITA,EUR,2001,0.8,2001
3,AZE,EUR,2008,0.6,2008
4,HUN,EUR,2012,3.1,2012
...,...,...,...,...,...
500,NOR,EUR,1999,3.9,1999
501,ARM,EUR,1991,2.8,1991
502,ISL,EUR,2005,2.9,2005
503,ITA,EUR,2000,0.8,2000
504,EST,EUR,1999,2,1999

In [6]:
df_1clean= df_1[['SpatialDim', 
                 'ParentLocationCode', 
                 'TimeDim','Dim1', 
                 'Value', 
                 'TimeDimensionValue']]
df_1clean.columns = ['SpatialDim', 
                     'ParentLocationCode', 
                     'TimeDim',
                     'BevType', 
                     'PercBevType', 
                     'TimeDimensionValue']
display(df_1clean)

,SpatialDim,ParentLocationCode,TimeDim,BevType,PercBevType,TimeDimensionValue
0,CHL,AMR,2016,ALCOHOLTYPE_SA_WINE,33.1,2016
1,LBR,AFR,2016,ALCOHOLTYPE_SA_SPIRITS,88.2,2016
2,AND,EUR,2016,ALCOHOLTYPE_SA_WINE,42,2016
3,FRA,EUR,2016,ALCOHOLTYPE_SA_BEER,18.8,2016
4,EST,EUR,2016,ALCOHOLTYPE_SA_SPIRITS,50.3,2016
...,...,...,...,...,...,...
771,KOR,WPR,2016,ALCOHOLTYPE_SA_WINE,1.9,2016
772,GTM,AMR,2016,ALCOHOLTYPE_SA_BEER,56.1,2016
773,VUT,WPR,2016,ALCOHOLTYPE_SA_SPIRITS,36.1,2016
774,UKR,EUR,2016,ALCOHOLTYPE_SA_BEER,42.3,2016
775,GBR,EUR,2016,ALCOHOLTYPE_SA_SPIRITS,22.5,2016

In [7]:
# Set cells with "<" to null in the 'LPerCapita' column
df_1clean['PercBevType'] = df_1clean['PercBevType'].replace('<1', 0)
df_1clean['PercBevType'] = df_1clean['PercBevType'].replace('No data', 0)

C:\Users\19727\AppData\Local\Temp\ipykernel_16776\2953967232.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['PercBevType'] = df_1clean['PercBevType'].replace('<1', 0)
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\2953967232.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['PercBevType'] = df_1clean['PercBevType'].replace('No data', 0)

In [8]:
# Create new columns for SPIRITS, BEER, WINE, and OTHER_ALCOHOL percentages
df_1clean['SPIRITS_PERCENT'] = 0
df_1clean['BEER_PERCENT'] = 0
df_1clean['WINE_PERCENT'] = 0
df_1clean['OTHER_ALCOHOL_PERCENT'] = 0

# Iterate over rows and update SPIRITS, BEER, WINE, or OTHER_ALCOHOL columns based on 'BevType'
for index, row in df_1clean.iterrows():
    if row['PercBevType'] is not None and row['PercBevType'] != 'No data':
        if 'SPIRITS' in row['BevType']:
            df_1clean.at[index, 'SPIRITS_PERCENT'] = float(row['PercBevType'])
        elif 'BEER' in row['BevType']:
            df_1clean.at[index, 'BEER_PERCENT'] = float(row['PercBevType'])
        elif 'WINE' in row['BevType']:
            df_1clean.at[index, 'WINE_PERCENT'] = float(row['PercBevType'])
        elif 'OTHER_ALCOHOL' in row['BevType']:
            df_1clean.at[index, 'OTHER_ALCOHOL_PERCENT'] = float(row['PercBevType'])

# Drop the original 'PercBevType' and 'BevType' columns if no longer needed
df_1clean.drop(columns=['PercBevType', 'BevType'], inplace=True)

# Display the updated DataFrame
display(df_1clean)

C:\Users\19727\AppData\Local\Temp\ipykernel_16776\258004859.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['SPIRITS_PERCENT'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\258004859.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['BEER_PERCENT'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\258004859.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['WINE_PERCENT'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\258004859.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['OTHER_ALCOHOL_PERCENT'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\258004859.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '33.1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_1clean.at[index, 'WINE_PERCENT'] = float(row['PercBevType'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\258004859.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '88.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_1clean.at[index, 'SPIRITS_PERCENT'] = float(row['PercBevType'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\258004859.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '18.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_1clean.at[index, 'BEER_PERCENT'] = float(row['PercBevType'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\258004859.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_1clean.at[index, 'OTHER_ALCOHOL_PERCENT'] = float(row['PercBevType'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\258004859.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean.drop(columns=['PercBevType', 'BevType'], inplace=True)

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS_PERCENT,BEER_PERCENT,WINE_PERCENT,OTHER_ALCOHOL_PERCENT
0,CHL,AMR,2016,2016,0.0,0.0,33.1,0.0
1,LBR,AFR,2016,2016,88.2,0.0,0.0,0.0
2,AND,EUR,2016,2016,0.0,0.0,42.0,0.0
3,FRA,EUR,2016,2016,0.0,18.8,0.0,0.0
4,EST,EUR,2016,2016,50.3,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
771,KOR,WPR,2016,2016,0.0,0.0,1.9,0.0
772,GTM,AMR,2016,2016,0.0,56.1,0.0,0.0
773,VUT,WPR,2016,2016,36.1,0.0,0.0,0.0
774,UKR,EUR,2016,2016,0.0,42.3,0.0,0.0
775,GBR,EUR,2016,2016,22.5,0.0,0.0,0.0

In [9]:
# Group by 'SpatialDim' and aggregate the values of 'SPIRITS', 'BEER', 'WINE', and 'OTHER_ALCOHOL'
df_1clean1 = df_1clean.groupby(['SpatialDim', 
                                'ParentLocationCode', 
                                'TimeDim', 
                                'TimeDimensionValue']).agg({'SPIRITS_PERCENT': 'sum', 
                                                            'BEER_PERCENT': 'sum', 
                                                            'WINE_PERCENT': 'sum', 
                                                            'OTHER_ALCOHOL_PERCENT': 'sum'}).reset_index()

# Display the updated DataFrame
display(df_1clean1)

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS_PERCENT,BEER_PERCENT,WINE_PERCENT,OTHER_ALCOHOL_PERCENT
0,AFG,EMR,2016,2016,0.0,0.0,0.0,0.0
1,AGO,AFR,2016,2016,11.3,70.3,17.6,0.8
2,ALB,EUR,2016,2016,37.6,34.3,26.5,1.7
3,AND,EUR,2016,2016,23.9,34.1,42.0,0.0
4,ARE,EMR,2016,2016,81.9,10.1,7.7,0.3
...,...,...,...,...,...,...,...,...
189,WSM,WPR,2016,2016,0.0,94.1,5.9,0.0
190,YEM,EMR,2016,2016,10.5,89.5,0.0,0.0
191,ZAF,AFR,2016,2016,17.8,56.0,18.5,7.6
192,ZMB,AFR,2016,2016,0.4,36.4,2.7,60.4
193,ZWE,AFR,2016,2016,12.0,62.8,1.3,23.9

In [10]:
###PRICES BY ALC

df_3clean= df_3[['SpatialDim', 
                 'ParentLocationCode', 
                 'TimeDim','Dim1', 'Value', 
                 'TimeDimensionValue']]
df_3clean.columns = ['SpatialDim', 
                     'ParentLocationCode', 
                     'TimeDim','BevType', 
                     'Price', 
                     'TimeDimensionValue']
display(df_3clean)

,SpatialDim,ParentLocationCode,TimeDim,BevType,Price,TimeDimensionValue
0,IND,SEAR,2012,BEVERAGETYPE_SA_750_POPULAR_LOCAL_SPIRITS,5.41,2012
1,SEN,AFR,2012,BEVERAGETYPE_SA_500_POPULAR_BEER,1.45,2012
2,ARG,AMR,2012,BEVERAGETYPE_SA_750_TABLE_WINE,1.24,2012
3,TCD,AFR,2012,BEVERAGETYPE_SA_750_POPULAR_IMPORTED_SPIRITS,14.39,2012
4,SYR,EMR,2012,BEVERAGETYPE_SA_750_POPULAR_LOCAL_SPIRITS,1.87,2012
...,...,...,...,...,...,...
752,KWT,EMR,2012,BEVERAGETYPE_SA_750_POPULAR_IMPORTED_SPIRITS,None,2012
753,EGY,EMR,2012,BEVERAGETYPE_SA_500_POPULAR_BEER,None,2012
754,MOZ,AFR,2012,BEVERAGETYPE_SA_750_POPULAR_LOCAL_SPIRITS,2.69,2012
755,TGO,AFR,2012,BEVERAGETYPE_SA_500_POPULAR_BEER,0.73,2012
756,TKM,EUR,2012,BEVERAGETYPE_SA_750_TABLE_WINE,None,2012

In [11]:
###PRICES BY ALCOHOL TYPE
# Create new columns for SPIRITS, BEER, and WINE
df_3clean['SPIRITS_PRICE'] = 0
df_3clean['BEER_PRICE'] = 0
df_3clean['WINE_PRICE'] = 0

# Iterate over rows and update SPIRITS, BEER, or WINE columns based on 'BevType'
for index, row in df_3clean.iterrows():
    if row['Price'] is not None:
        if 'SPIRITS' in row['BevType']:
            df_3clean.at[index, 'SPIRITS_PRICE'] = float(row['Price'])
        elif 'BEER' in row['BevType']:
            df_3clean.at[index, 'BEER_PRICE'] = float(row['Price'])
        elif 'WINE' in row['BevType']:
            df_3clean.at[index, 'WINE_PRICE'] = float(row['Price'])

# Explicitly cast the newly added columns to float
df_3clean['SPIRITS_PRICE'] = df_3clean['SPIRITS_PRICE'].astype(float)
df_3clean['BEER_PRICE'] = df_3clean['BEER_PRICE'].astype(float)
df_3clean['WINE_PRICE'] = df_3clean['WINE_PRICE'].astype(float)

# Drop the original 'Price' and 'BevType' columns if no longer needed
df_3clean.drop(columns=['Price', 'BevType'], inplace=True)

# Display the updated DataFrame
display(df_3clean)

C:\Users\19727\AppData\Local\Temp\ipykernel_16776\931543532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean['SPIRITS_PRICE'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\931543532.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean['BEER_PRICE'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\931543532.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean['WINE_PRICE'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\931543532.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '5.41' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_3clean.at[index, 'SPIRITS_PRICE'] = float(row['Price'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\931543532.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.45' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_3clean.at[index, 'BEER_PRICE'] = float(row['Price'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\931543532.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.24' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_3clean.at[index, 'WINE_PRICE'] = float(row['Price'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\931543532.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean['SPIRITS_PRICE'] = df_3clean['SPIRITS_PRICE'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\931543532.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean['BEER_PRICE'] = df_3clean['BEER_PRICE'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\931543532.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean['WINE_PRICE'] = df_3clean['WINE_PRICE'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\931543532.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean.drop(columns=['Price', 'BevType'], inplace=True)

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS_PRICE,BEER_PRICE,WINE_PRICE
0,IND,SEAR,2012,2012,5.41,0.00,0.00
1,SEN,AFR,2012,2012,0.00,1.45,0.00
2,ARG,AMR,2012,2012,0.00,0.00,1.24
3,TCD,AFR,2012,2012,14.39,0.00,0.00
4,SYR,EMR,2012,2012,1.87,0.00,0.00
...,...,...,...,...,...,...,...
752,KWT,EMR,2012,2012,0.00,0.00,0.00
753,EGY,EMR,2012,2012,0.00,0.00,0.00
754,MOZ,AFR,2012,2012,2.69,0.00,0.00
755,TGO,AFR,2012,2012,0.00,0.73,0.00
756,TKM,EUR,2012,2012,0.00,0.00,0.00

In [12]:
# Group by 'SpatialDim' and aggregate the values of 'SPIRITS', 'BEER', and 'WINE'
df_3clean1 = df_3clean.groupby(['SpatialDim', 
                                'ParentLocationCode', 
                                'TimeDim', 
                                'TimeDimensionValue']).agg({'SPIRITS_PRICE': 'sum',
                                                            'BEER_PRICE': 'sum', 
                                                            'WINE_PRICE': 'sum'}).reset_index()

# Display the updated DataFrame
display(df_3clean1)

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS_PRICE,BEER_PRICE,WINE_PRICE
0,AFG,EMR,2012,2012,0.00,0.00,0.00
1,AGO,AFR,2012,2012,9.44,1.59,1.79
2,ALB,EUR,2012,2012,158.93,4.58,4.25
3,AND,EUR,2012,2012,11.89,1.22,7.86
4,ARE,EMR,2012,2012,0.00,0.00,0.00
...,...,...,...,...,...,...,...
185,WSM,WPR,2012,2012,0.00,0.00,0.00
186,YEM,EMR,2012,2012,0.00,0.00,0.00
187,ZAF,AFR,2012,2012,36.09,0.90,2.02
188,ZMB,AFR,2012,2012,15.48,2.05,5.80
189,ZWE,AFR,2012,2012,24.00,1.07,6.00

In [13]:
#clean and transfor df_0 Per Houshold % expenditure  consumption
#this was at issue because of timedimensionvalue-- had to map as timedim and had to map Lpercapita as a numeric value
df_5clean = df_5[['SpatialDim', 
                  'ParentLocationCode', 
                  'TimeDim', 'Dim1', 
                  'NumericValue']]
df_5clean.columns = ['SpatialDim', 
                     'ParentLocationCode', 
                     'TimeDimensionValue', 
                     'Sex', 
                     'LPerCapita']
display(df_5clean)

    SpatialDim ParentLocationCode  TimeDimensionValue       Sex  LPerCapita
0          BRN                WPR                2018  SEX_FMLE         0.2
1          QAT                EMR                2018   SEX_MLE         1.9
2          MDG                AFR                2018  SEX_FMLE         0.8
3          TGO                AFR                2018  SEX_BTSX         2.5
4          GRC                EUR                2018   SEX_MLE        16.2
..         ...                ...                 ...       ...         ...
577        RUS                EUR                2018  SEX_FMLE         4.6
578        CHE                EUR                2018  SEX_BTSX        11.5
579        ISL                EUR                2018  SEX_FMLE         4.3
580        MNG                WPR                2018   SEX_MLE        12.8
581        NZL                WPR                2018   SEX_MLE        16.4

[582 rows x 5 columns]

In [14]:
# Create new columns for FEMALE, MALE, and BOTH_SEX
df_5clean['FEMALE_L_PER_CAPITA'] = 0
df_5clean['MALE_L_PER_CAPITA'] = 0
df_5clean['BOTH_SEX_L_PER_CAPITA'] = 0

# Iterate over rows and update FEMALE, MALE, or BOTH_SEX columns based on 'Sex'
for index, row in df_5clean.iterrows():
    if row['LPerCapita'] is not None and row['LPerCapita'] != 'No data':
        if 'FMLE' in row['Sex']:
            df_5clean.at[index, 'FEMALE_L_PER_CAPITA'] = float(row['LPerCapita'])
        elif 'MLE' in row['Sex']:
            df_5clean.at[index, 'MALE_L_PER_CAPITA'] = float(row['LPerCapita'])
        elif 'BTSX' in row['Sex']:
            df_5clean.at[index, 'BOTH_SEX_L_PER_CAPITA'] = float(row['LPerCapita'])

# Explicitly cast the newly added columns to float
df_5clean['FEMALE_L_PER_CAPITA'] = df_5clean['FEMALE_L_PER_CAPITA'].astype(float)
df_5clean['MALE_L_PER_CAPITA'] = df_5clean['MALE_L_PER_CAPITA'].astype(float)
df_5clean['BOTH_SEX_L_PER_CAPITA'] = df_5clean['BOTH_SEX_L_PER_CAPITA'].astype(float)

# Drop the original 'LPerCapita' and 'Sex' columns if no longer needed
df_5clean.drop(columns=['LPerCapita', 'Sex'], inplace=True)

# Display the updated DataFrame
display(df_5clean)

C:\Users\19727\AppData\Local\Temp\ipykernel_16776\3802839954.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5clean['FEMALE_L_PER_CAPITA'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\3802839954.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5clean['MALE_L_PER_CAPITA'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\3802839954.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5clean['BOTH_SEX_L_PER_CAPITA'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\3802839954.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_5clean.at[index, 'FEMALE_L_PER_CAPITA'] = float(row['LPerCapita'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\3802839954.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.9' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_5clean.at[index, 'MALE_L_PER_CAPITA'] = float(row['LPerCapita'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\3802839954.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_5clean.at[index, 'BOTH_SEX_L_PER_CAPITA'] = float(row['LPerCapita'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\3802839954.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5clean['FEMALE_L_PER_CAPITA'] = df_5clean['FEMALE_L_PER_CAPITA'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\3802839954.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5clean['MALE_L_PER_CAPITA'] = df_5clean['MALE_L_PER_CAPITA'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\3802839954.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5clean['BOTH_SEX_L_PER_CAPITA'] = df_5clean['BOTH_SEX_L_PER_CAPITA'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\3802839954.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5clean.drop(columns=['LPerCapita', 'Sex'], inplace=True)

,SpatialDim,ParentLocationCode,TimeDimensionValue,FEMALE_L_PER_CAPITA,MALE_L_PER_CAPITA,BOTH_SEX_L_PER_CAPITA
0,BRN,WPR,2018,0.2,0.0,0.0
1,QAT,EMR,2018,0.0,1.9,0.0
2,MDG,AFR,2018,0.8,0.0,0.0
3,TGO,AFR,2018,0.0,0.0,2.5
4,GRC,EUR,2018,0.0,16.2,0.0
...,...,...,...,...,...,...
577,RUS,EUR,2018,4.6,0.0,0.0
578,CHE,EUR,2018,0.0,0.0,11.5
579,ISL,EUR,2018,4.3,0.0,0.0
580,MNG,WPR,2018,0.0,12.8,0.0
581,NZL,WPR,2018,0.0,16.4,0.0

In [15]:
# Group by 'SpatialDim' and aggregate the values of 'SPIRITS', 'BEER', and 'WINE'
df_5clean1 = df_5clean.groupby(['SpatialDim', 
                                'ParentLocationCode',
                                'TimeDimensionValue']).agg({'FEMALE_L_PER_CAPITA': 'sum', 
                                                            'MALE_L_PER_CAPITA': 'sum', 
                                                            'BOTH_SEX_L_PER_CAPITA': 'sum'}).reset_index()

# Display the updated DataFrame
display(df_5clean1)

,SpatialDim,ParentLocationCode,TimeDimensionValue,FEMALE_L_PER_CAPITA,MALE_L_PER_CAPITA,BOTH_SEX_L_PER_CAPITA
0,AFG,EMR,2018,0.1,0.4,0.2
1,AGO,AFR,2018,3.1,11.1,6.9
2,ALB,EUR,2018,2.7,11.6,7.2
3,AND,EUR,2018,5.2,17.2,11.0
4,ARE,EMR,2018,0.8,4.9,3.9
...,...,...,...,...,...,...
189,WSM,WPR,2018,0.9,4.3,2.7
190,YEM,EMR,2018,0.0,0.1,0.1
191,ZAF,AFR,2018,3.5,15.9,9.5
192,ZMB,AFR,2018,2.6,10.6,6.5
193,ZWE,AFR,2018,1.6,8.0,4.7

In [16]:
df_8clean= df_8[['SpatialDim', 
                 'ParentLocationCode', 
                 'TimeDim',
                 'Dim1', 
                 'NumericValue', 
                 'TimeDimensionValue']]
df_8clean.columns = ['SpatialDim', 
                     'ParentLocationCode', 
                     'TimeDim',
                     'BevType', 
                     'LPerCapita', 
                     'TimeDimensionValue']
display(df_8clean)

,SpatialDim,ParentLocationCode,TimeDim,BevType,LPerCapita,TimeDimensionValue
0,MWI,AFR,1985,ALCOHOLTYPE_SA_OTHER_ALCOHOL,0.84,1985
1,BRB,AMR,2000,ALCOHOLTYPE_SA_WINE,0.61,2000
2,PRY,AMR,1977,ALCOHOLTYPE_SA_TOTAL,5.84,1977
3,UKR,EUR,2001,ALCOHOLTYPE_SA_OTHER_ALCOHOL,0.00,2001
4,PRT,EUR,1990,ALCOHOLTYPE_SA_SPIRITS,0.92,1990
...,...,...,...,...,...,...
58716,MRT,AFR,2001,ALCOHOLTYPE_SA_WINE,0.00,2001
58717,PAK,EMR,1997,ALCOHOLTYPE_SA_BEER,0.01,1997
58718,FSM,WPR,1971,ALCOHOLTYPE_SA_WINE,0.00,1971
58719,GNQ,AFR,1994,ALCOHOLTYPE_SA_SPIRITS,0.00,1994
58720,HND,AMR,2014,ALCOHOLTYPE_SA_SPIRITS,1.37,2014

In [17]:
# Create new columns for SPIRITS_PER_CAPITA, BEER_PER_CAPITA, WINE_PER_CAPITA, and ALL_ALCOHOLS_PER_CAPITA
df_8clean['SPIRITS_PER_CAPITA'] = 0
df_8clean['BEER_PER_CAPITA'] = 0
df_8clean['WINE_PER_CAPITA'] = 0
df_8clean['OTHER_ALCOHOL_PER_CAPITA'] = 0
df_8clean['ALL_ALCOHOLS_PER_CAPITA'] = 0

# Iterate over rows and update SPIRITS_PER_CAPITA, BEER_PER_CAPITA, WINE_PER_CAPITA, or ALL_ALCOHOLS_PER_CAPITA columns based on 'BevType'
for index, row in df_8clean.iterrows():
    if row['LPerCapita'] is not None and row['LPerCapita'] != 'No data':
        if 'SPIRITS' in row['BevType']:
            df_8clean.at[index, 'SPIRITS_PER_CAPITA'] = float(row['LPerCapita'])
        elif 'BEER' in row['BevType']:
            df_8clean.at[index, 'BEER_PER_CAPITA'] = float(row['LPerCapita'])
        elif 'WINE' in row['BevType']:
            df_8clean.at[index, 'WINE_PER_CAPITA'] = float(row['LPerCapita'])
        elif 'TOTAL' in row['BevType']:
            df_8clean.at[index, 'ALL_ALCOHOLS_PER_CAPITA'] = float(row['LPerCapita'])
        elif 'OTHER 'in row['BevType']:
            df_8clean.at[index, 'OTHER_ALCOHOL_PER_CAPITA'] = float(row['LPerCapita'])

# Drop the original 'LPerCapita' and 'BevType' columns if no longer needed
df_8clean.drop(columns=['LPerCapita', 'BevType'], inplace=True)

# Display the updated DataFrame
display(df_8clean)

C:\Users\19727\AppData\Local\Temp\ipykernel_16776\238465747.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_8clean['SPIRITS_PER_CAPITA'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\238465747.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_8clean['BEER_PER_CAPITA'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\238465747.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_8clean['WINE_PER_CAPITA'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\238465747.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_8clean['OTHER_ALCOHOL_PER_CAPITA'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\238465747.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_8clean['ALL_ALCOHOLS_PER_CAPITA'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\238465747.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.61' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_8clean.at[index, 'WINE_PER_CAPITA'] = float(row['LPerCapita'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\238465747.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '5.84' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_8clean.at[index, 'ALL_ALCOHOLS_PER_CAPITA'] = float(row['LPerCapita'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\238465747.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.92' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_8clean.at[index, 'SPIRITS_PER_CAPITA'] = float(row['LPerCapita'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\238465747.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '7.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_8clean.at[index, 'BEER_PER_CAPITA'] = float(row['LPerCapita'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16776\238465747.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_8clean.drop(columns=['LPerCapita', 'BevType'], inplace=True)

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS_PER_CAPITA,BEER_PER_CAPITA,WINE_PER_CAPITA,OTHER_ALCOHOL_PER_CAPITA,ALL_ALCOHOLS_PER_CAPITA
0,MWI,AFR,1985,1985,0.00,0.00,0.00,0,0.00
1,BRB,AMR,2000,2000,0.00,0.00,0.61,0,0.00
2,PRY,AMR,1977,1977,0.00,0.00,0.00,0,5.84
3,UKR,EUR,2001,2001,0.00,0.00,0.00,0,0.00
4,PRT,EUR,1990,1990,0.92,0.00,0.00,0,0.00
...,...,...,...,...,...,...,...,...,...
58716,MRT,AFR,2001,2001,0.00,0.00,0.00,0,0.00
58717,PAK,EMR,1997,1997,0.00,0.01,0.00,0,0.00
58718,FSM,WPR,1971,1971,0.00,0.00,0.00,0,0.00
58719,GNQ,AFR,1994,1994,0.00,0.00,0.00,0,0.00
58720,HND,AMR,2014,2014,1.37,0.00,0.00,0,0.00

In [18]:
# Group by 'SpatialDim' and aggregate the values of 'SPIRITS', 'BEER', and 'WINE'
df_8clean1 = df_8clean.groupby(['SpatialDim', 
                                'ParentLocationCode',
                                'TimeDim',
                                'TimeDimensionValue']).agg({'SPIRITS_PER_CAPITA': 'sum', 
                                                            'BEER_PER_CAPITA': 'sum', 
                                                            'WINE_PER_CAPITA': 'sum',
                                                            'OTHER_ALCOHOL_PER_CAPITA': 'sum',
                                                            'ALL_ALCOHOLS_PER_CAPITA': 'sum',
                                                           }).reset_index()


# Display the updated DataFrame
display(df_8clean1)

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS_PER_CAPITA,BEER_PER_CAPITA,WINE_PER_CAPITA,OTHER_ALCOHOL_PER_CAPITA,ALL_ALCOHOLS_PER_CAPITA
0,AFG,EMR,1961,1961,0.00,0.00,0.00,0,0.00
1,AFG,EMR,1962,1962,0.00,0.00,0.00,0,0.00
2,AFG,EMR,1963,1963,0.00,0.00,0.00,0,0.00
3,AFG,EMR,1964,1964,0.00,0.00,0.00,0,0.00
4,AFG,EMR,1965,1965,0.00,0.00,0.00,0,0.00
...,...,...,...,...,...,...,...,...,...
9512,ZWE,AFR,2011,2011,0.64,4.10,0.25,0,9.34
9513,ZWE,AFR,2012,2012,0.88,4.14,0.17,0,9.54
9514,ZWE,AFR,2013,2013,0.75,4.17,0.18,0,9.73
9515,ZWE,AFR,2014,2014,0.86,4.35,0.10,0,9.94
9516,ZWE,AFR,2015,2015,0.43,2.23,0.05,0,3.55

In [19]:
# clean dataframes are:
#df_0clean = % of Houshold budget spent on alcohol (1990-2017)
#df_1clean1 = % of Alcohol consumption by type of alcohol (2016)
#df_3clean1 = Price of different types of alcohol (2012)
#df_5clean1 = Per Capita Consumption also separated by gender (2018)
#df_8clean1 = Per Capita Consumption not sepearated by gender (1960-2016)


# Save df_1clean1 to CSV
df_0clean.to_csv('0_Percentage_of_Household_Budget_on_Alcohol.csv', index=False)

# Save df_1clean1 to CSV
df_1clean1.to_csv('1_Percentage_of_Consumption_by_type_of_Alcohol.csv', index=False)

# Save df_3clean1 to CSV
df_3clean1.to_csv('3_df_3clean1_Price_of_Alcohol_2012.csv', index=False)

# Save df_5_clean1 to CSV
df_5clean1.to_csv('5_Per_Capita_Consumption_by_Gender_2018.csv', index=False)

# Save df_8clean1 to CSV
df_8clean1.to_csv('8_Per_Capita_Consumption_Not_Separated_by_Gender_1960_2016.csv', index=False)

In [35]:
#Merge all DFS into 1 and print to CSV
# Merge with an outer join to include all rows from both dataframes
df_1_8 = pd.merge(df_1clean1, df_8clean1, on=['SpatialDim', 
                                              'ParentLocationCode', 
                                              'TimeDim', 
                                              'TimeDimensionValue'], 
                  how='outer')

# Fill NaN values with zeros
df_1_8.fillna(0, inplace=True)

# Display the merged dataframe
display(df_1_8)


####
# Merge df_1_8 with df_0clean
df_0_1_8 = pd.merge(df_1_8, df_0clean, on=['SpatialDim', 
                                           'ParentLocationCode', 
                                           'TimeDim', 
                                           'TimeDimensionValue'], 
                    how='outer')

# Fill NaN values with zeros
df_0_1_8.fillna(0, inplace=True)

# Display the merged dataframe
display(df_0_1_8)


####
# Merge df_0_1_8 with 3

df_0_1_3_8 = pd.merge(df_0_1_8, df_3clean1, on=['SpatialDim', 
                                           'ParentLocationCode', 
                                           'TimeDim', 
                                           'TimeDimensionValue'], 
                    how='outer')

# Fill NaN values with zeros
df_0_1_3_8.fillna(0, inplace=True)

# Display the merged dataframe
display(df_0_1_3_8)

####
# Merge results with 5 which doesn't have a TimeDim
# Assuming 'TimeDimensionValue' in df_0_1_3_8 is currently object type
# Convert 'TimeDimensionValue' in df_0_1_3_8 to int64 type
df_0_1_3_8['TimeDimensionValue'] = df_0_1_3_8['TimeDimensionValue'].astype(int)

# Now attempt the merge again
df_0_1_3_5_8 = pd.merge(df_0_1_3_8, df_5clean1, on=['SpatialDim', 
                                           'ParentLocationCode',
                                           'TimeDimensionValue'], 
                    how='outer')

# Fill NaN values with zeros
df_0_1_3_5_8.fillna(0, inplace=True)

# Display the merged dataframe
display(df_0_1_3_5_8)

masterdf= df_0_1_3_5_8

# Save masterdf to a CSV file
masterdf.to_csv('MAIN_WHO_DATAFRAME.csv', index=False)

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS_PERCENT,BEER_PERCENT,WINE_PERCENT,OTHER_ALCOHOL_PERCENT,SPIRITS_PER_CAPITA,BEER_PER_CAPITA,WINE_PER_CAPITA,OTHER_ALCOHOL_PER_CAPITA,ALL_ALCOHOLS_PER_CAPITA
0,AFG,EMR,2016,2016,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00
1,AGO,AFR,2016,2016,11.3,70.3,17.6,0.8,0.53,3.30,0.83,0.0,4.70
2,ALB,EUR,2016,2016,37.6,34.3,26.5,1.7,1.90,1.74,1.34,0.0,5.07
3,AND,EUR,2016,2016,23.9,34.1,42.0,0.0,2.41,3.43,4.22,0.0,10.06
4,ARE,EMR,2016,2016,81.9,10.1,7.7,0.3,1.72,0.21,0.16,0.0,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9613,ZWE,AFR,2011,2011,0.0,0.0,0.0,0.0,0.64,4.10,0.25,0.0,9.34
9614,ZWE,AFR,2012,2012,0.0,0.0,0.0,0.0,0.88,4.14,0.17,0.0,9.54
9615,ZWE,AFR,2013,2013,0.0,0.0,0.0,0.0,0.75,4.17,0.18,0.0,9.73
9616,ZWE,AFR,2014,2014,0.0,0.0,0.0,0.0,0.86,4.35,0.10,0.0,9.94
9617,ZWE,AFR,2015,2015,0.0,0.0,0.0,0.0,0.43,2.23,0.05,0.0,3.55

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS_PERCENT,BEER_PERCENT,WINE_PERCENT,OTHER_ALCOHOL_PERCENT,SPIRITS_PER_CAPITA,BEER_PER_CAPITA,WINE_PER_CAPITA,OTHER_ALCOHOL_PER_CAPITA,ALL_ALCOHOLS_PER_CAPITA,PercentHouseholdExp
0,AFG,EMR,2016,2016,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0
1,AGO,AFR,2016,2016,11.3,70.3,17.6,0.8,0.53,3.30,0.83,0.0,4.70,0
2,ALB,EUR,2016,2016,37.6,34.3,26.5,1.7,1.90,1.74,1.34,0.0,5.07,1.3
3,AND,EUR,2016,2016,23.9,34.1,42.0,0.0,2.41,3.43,4.22,0.0,10.06,0
4,ARE,EMR,2016,2016,81.9,10.1,7.7,0.3,1.72,0.21,0.16,0.0,2.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9628,UZB,EUR,1991,1991,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,3.2
9629,EST,EUR,1997,1997,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,1.9
9630,TKM,EUR,1990,1990,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,3.4
9631,TKM,EUR,1991,1991,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,2.6
9632,EST,EUR,1999,1999,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,2

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS_PERCENT,BEER_PERCENT,WINE_PERCENT,OTHER_ALCOHOL_PERCENT,SPIRITS_PER_CAPITA,BEER_PER_CAPITA,WINE_PER_CAPITA,OTHER_ALCOHOL_PER_CAPITA,ALL_ALCOHOLS_PER_CAPITA,PercentHouseholdExp,SPIRITS_PRICE,BEER_PRICE,WINE_PRICE
0,AFG,EMR,2016,2016,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0,0.00,0.00,0.00
1,AGO,AFR,2016,2016,11.3,70.3,17.6,0.8,0.53,3.30,0.83,0.0,4.70,0,0.00,0.00,0.00
2,ALB,EUR,2016,2016,37.6,34.3,26.5,1.7,1.90,1.74,1.34,0.0,5.07,1.3,0.00,0.00,0.00
3,AND,EUR,2016,2016,23.9,34.1,42.0,0.0,2.41,3.43,4.22,0.0,10.06,0,0.00,0.00,0.00
4,ARE,EMR,2016,2016,81.9,10.1,7.7,0.3,1.72,0.21,0.16,0.0,2.10,0,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9634,ERI,AFR,2012,2012,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0,0.00,1.09,2.54
9635,MCO,EUR,2012,2012,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0,0.00,0.00,0.00
9636,MHL,WPR,2012,2012,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0,0.00,0.00,0.00
9637,PLW,WPR,2012,2012,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0,1.99,1.57,7.44
9638,SMR,EUR,2012,2012,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0,20.61,2.29,1.63

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS_PERCENT,BEER_PERCENT,WINE_PERCENT,OTHER_ALCOHOL_PERCENT,SPIRITS_PER_CAPITA,BEER_PER_CAPITA,WINE_PER_CAPITA,OTHER_ALCOHOL_PER_CAPITA,ALL_ALCOHOLS_PER_CAPITA,PercentHouseholdExp,SPIRITS_PRICE,BEER_PRICE,WINE_PRICE,FEMALE_L_PER_CAPITA,MALE_L_PER_CAPITA,BOTH_SEX_L_PER_CAPITA
0,AFG,EMR,2016.0,2016,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0,0.0,0.0,0.0,0.0,0.0,0.0
1,AGO,AFR,2016.0,2016,11.3,70.3,17.6,0.8,0.53,3.30,0.83,0.0,4.70,0,0.0,0.0,0.0,0.0,0.0,0.0
2,ALB,EUR,2016.0,2016,37.6,34.3,26.5,1.7,1.90,1.74,1.34,0.0,5.07,1.3,0.0,0.0,0.0,0.0,0.0,0.0
3,AND,EUR,2016.0,2016,23.9,34.1,42.0,0.0,2.41,3.43,4.22,0.0,10.06,0,0.0,0.0,0.0,0.0,0.0,0.0
4,ARE,EMR,2016.0,2016,81.9,10.1,7.7,0.3,1.72,0.21,0.16,0.0,2.10,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9828,WSM,WPR,0.0,2018,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0,0.0,0.0,0.0,0.9,4.3,2.7
9829,YEM,EMR,0.0,2018,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0,0.0,0.0,0.0,0.0,0.1,0.1
9830,ZAF,AFR,0.0,2018,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0,0.0,0.0,0.0,3.5,15.9,9.5
9831,ZMB,AFR,0.0,2018,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0,0.0,0.0,0.0,2.6,10.6,6.5
9832,ZWE,AFR,0.0,2018,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0,0.0,0.0,0.0,1.6,8.0,4.7

In [21]:
# # Drop the first column from df_0
# df_0.drop(df_0.columns[0], axis=1, inplace=True)

# display(df_0)
# # # Extract 'Id' from the dictionary in the ' @odata.context' column and replace it
# # df_0['@odata.context'] = df_0['@odata.context'].apply(pd.Series)['Id']

# # # Display the modified DataFrame
# # print(df_0)

In [22]:
# expanded_df = pd.json_normalize(df_0['value'])
# display(expanded_df)

In [23]:
# df_0_4= pd.merge(df_0, df_4, on=['TimeDimensionValue', 'SpatialDim'], how='inner')
# display(df_0_4)

In [24]:
# Write DataFrame to CSV
#df_0_4.to_csv("life_expectancy_household_percent.csv", index=False)

In [25]:
# percap_household_exp = pd.merge(df_0, df_8, on=['TimeDimensionValue', 'SpatialDim'], how='inner')

# # Display the resulting merged dataframe
# display(percap_household_exp)
# percap_household_exp.to_csv("percap_household_exp.csv", index=False)

In [26]:
#3 and 7 are a mess-- due to multiple country codes due to diff alc types
# maindf = pd.merge(maindf, df_3, on=['TimeDimensionValue', 'SpatialDim'], how='inner')
#maindf = pd.merge(maindf, df_5, on=['TimeDimensionValue', 'SpatialDim'], how='inner')
# maindf = pd.merge(maindf, df_7, on=['TimeDimensionValue', 'SpatialDim'], how='inner')

In [27]:
# maindf = pd.merge(percap_household_exp, df_3, on=['TimeDimensionValue', 'SpatialDim'], how='inner')
# maindf = pd.merge(maindf, df_5, on=['TimeDimensionValue', 'SpatialDim'], how='inner')
# maindf = pd.merge(maindf, df_7, on=['TimeDimensionValue', 'SpatialDim'], how='inner')