In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import csv

In [2]:
#define data to pull from WHO GHO API
url= "https://ghoapi.azureedge.net/api/SA_0000001476"
url1= "https://ghoapi.azureedge.net/api/SA_0000001398"
url2= "https://ghoapi.azureedge.net/api/SA_0000001732"
url3= "https://ghoapi.azureedge.net/api/SA_0000001523"
url4= "https://ghoapi.azureedge.net/api/WHOSIS_000002"
url5= "https://ghoapi.azureedge.net/api/SA_0000001822"
url6= "https://ghoapi.azureedge.net/api/SA_0000001398"
url7= "https://ghoapi.azureedge.net/api/TAXBEV_MOSTSOLDSPIRIT"
url8= "https://ghoapi.azureedge.net/api/SA_0000001400_ARCHIVED"
url9= "https://ghoapi.azureedge.net/api/SA_0000001688"
url10= "https://ghoapi.azureedge.net/api/SA_0000001398_ARCHIVED"


# list to store URLS 
urls= [url,url1,url2,url3,url4,url5,url6,url7,url8, url9, url10]

# Dictionary to store dataframes
dataframes = {}

In [3]:
# Fetch data from each URL and create dataframes
for idx, url in enumerate(urls):
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        df_name = f"df_{idx}"  # Name the dataframe
        dataframes[df_name] = pd.DataFrame(data)
        print("Data from", url, "has been fetched and stored in", df_name)
    else:
        print("Failed to fetch data from", url)

Data from https://ghoapi.azureedge.net/api/SA_0000001476 has been fetched and stored in df_0
Data from https://ghoapi.azureedge.net/api/SA_0000001398 has been fetched and stored in df_1
Data from https://ghoapi.azureedge.net/api/SA_0000001732 has been fetched and stored in df_2
Data from https://ghoapi.azureedge.net/api/SA_0000001523 has been fetched and stored in df_3
Data from https://ghoapi.azureedge.net/api/WHOSIS_000002 has been fetched and stored in df_4
Data from https://ghoapi.azureedge.net/api/SA_0000001822 has been fetched and stored in df_5
Data from https://ghoapi.azureedge.net/api/SA_0000001398 has been fetched and stored in df_6
Data from https://ghoapi.azureedge.net/api/TAXBEV_MOSTSOLDSPIRIT has been fetched and stored in df_7
Data from https://ghoapi.azureedge.net/api/SA_0000001400_ARCHIVED has been fetched and stored in df_8
Data from https://ghoapi.azureedge.net/api/SA_0000001688 has been fetched and stored in df_9
Data from https://ghoapi.azureedge.net/api/SA_0000001398_ARCHIVED has been fetched and stored in df_10

In [4]:
# Assuming dataframes is a dictionary containing DataFrames
# Assuming dataframes is a dictionary containing DataFrames
for df_name, df in dataframes.items():
    # Expand dictionaries into separate columns and rows
    expanded_df = pd.json_normalize(df['value'])  # Replace 'your_column_name_here' with the actual column name
    
    # Assign the expanded DataFrame back to the original variable
    globals()[df_name] = expanded_df
    
    # Print the DataFrame
    print("DataFrame:", df_name)
    print(expanded_df)
    print()

    # Write DataFrame to CSV
    csv_filename = f"{df_name}.csv"
    expanded_df.to_csv(csv_filename, index=False)
    print(f"DataFrame '{df_name}' has been written to '{csv_filename}' CSV file.")
    print()


# # Create variables for each DataFrame
# for df_name, df in dataframes.items():
#     globals()[df_name] = df

# # Test the created dataframes and write each dataframe to CSV
# for df_name, df in dataframes.items():
#     print("DataFrame:", df_name)
#     print(df)
#     print()


# # Write dataframe to CSV
#     csv_filename = f"{df_name}.csv"
#     df.to_csv(csv_filename, index=False)
#     print(f"DataFrame '{df_name}' has been written to '{csv_filename}' CSV file.")
#     print()

DataFrame: df_0
          Id  IndicatorCode SpatialDimType SpatialDim ParentLocationCode  \
0    4548508  SA_0000001476        COUNTRY        HUN                EUR
1    4539127  SA_0000001476        COUNTRY        CAN                AMR
2    4539079  SA_0000001476        COUNTRY        GBR                EUR
3    4539550  SA_0000001476        COUNTRY        NOR                EUR
4    4519729  SA_0000001476        COUNTRY        MDA                EUR
..       ...            ...            ...        ...                ...
500  4539112  SA_0000001476        COUNTRY        AUT                EUR
501  4539183  SA_0000001476        COUNTRY        ROU                EUR
502  4529193  SA_0000001476        COUNTRY        FIN                EUR
503  4539558  SA_0000001476        COUNTRY        DNK                EUR
504  4539491  SA_0000001476        COUNTRY        FIN                EUR

    TimeDimType ParentLocation Dim1Type  Dim1  TimeDim  ...  \
0          YEAR         Europe     None  None     2013  ...
1          YEAR       Americas     None  None     2004  ...
2          YEAR         Europe     None  None     2012  ...
3          YEAR         Europe     None  None     1995  ...
4          YEAR         Europe     None  None     1992  ...
..          ...            ...      ...   ...      ...  ...
500        YEAR         Europe     None  None     2000  ...
501        YEAR         Europe     None  None     2008  ...
502        YEAR         Europe     None  None     2002  ...
503        YEAR         Europe     None  None     1999  ...
504        YEAR         Europe     None  None     2014  ...

                    DataSourceDim Value NumericValue   Low  High Comments  \
0    DATASOURCE_SA_0000001476_HUN     3          3.0  None  None     None
1    DATASOURCE_SA_0000001476_CAN   2.1          2.1  None  None     None
2    DATASOURCE_SA_0000001476_GBR   1.6          1.6  None  None     None
3    DATASOURCE_SA_0000001476_NOR   4.1          4.1  None  None     None
4    DATASOURCE_SA_0000001476_MDA   2.2          2.2  None  None     None
..                            ...   ...          ...   ...   ...      ...
500  DATASOURCE_SA_0000001476_AUT   1.4          1.4  None  None     None
501  DATASOURCE_SA_0000001476_ROU     4          4.0  None  None     None
502  DATASOURCE_SA_0000001476_FIN   5.5          5.5  None  None     None
503  DATASOURCE_SA_0000001476_DNK   2.3          2.3  None  None     None
504  DATASOURCE_SA_0000001476_FIN   4.2          4.2  None  None     None

                          Date  TimeDimensionValue         TimeDimensionBegin  \
0    2018-10-25T13:07:08+02:00                2013  2013-01-01T00:00:00+01:00
1    2018-10-25T13:07:00+02:00                2004  2004-01-01T00:00:00+01:00
2    2018-10-25T13:07:01+02:00                2012  2012-01-01T00:00:00+01:00
3    2018-10-25T13:07:03+02:00                1995  1995-01-01T00:00:00+01:00
4    2018-10-25T13:07:09+02:00                1992  1992-01-01T00:00:00+01:00
..                         ...                 ...                        ...
500  2018-10-25T13:07:03+02:00                2000  2000-01-01T00:00:00+01:00
501  2018-10-25T13:07:11+02:00                2008  2008-01-01T00:00:00+01:00
502  2018-10-25T13:07:09+02:00                2002  2002-01-01T00:00:00+01:00
503  2018-10-25T13:07:11+02:00                1999  1999-01-01T00:00:00+01:00
504  2018-10-25T13:07:04+02:00                2014  2014-01-01T00:00:00+01:00

              TimeDimensionEnd
0    2013-12-31T00:00:00+01:00
1    2004-12-31T00:00:00+01:00
2    2012-12-31T00:00:00+01:00
3    1995-12-31T00:00:00+01:00
4    1992-12-31T00:00:00+01:00
..                         ...
500  2000-12-31T00:00:00+01:00
501  2008-12-31T00:00:00+01:00
502  2002-12-31T00:00:00+01:00
503  1999-12-31T00:00:00+01:00
504  2014-12-31T00:00:00+01:00

[505 rows x 25 columns]

DataFrame 'df_0' has been written to 'df_0.csv' CSV file.

DataFrame: df_1
          Id  IndicatorCode SpatialDimType SpatialDim ParentLocationCode  \
0    3148831  SA_0000001398        COUNTRY        GEO                EUR
1    3228489  SA_0000001398        COUNTRY        WSM                WPR
2    3228333  SA_0000001398        COUNTRY        SDN                EMR
3    3228495  SA_0000001398        COUNTRY        YEM                EMR
4    3228382  SA_0000001398        COUNTRY        SVK                EUR
..       ...            ...            ...        ...                ...
771  3148830  SA_0000001398        COUNTRY        GEO                EUR
772  3228305  SA_0000001398        COUNTRY        PRT                EUR
773  3187281  SA_0000001398        COUNTRY        LTU                EUR
774  3148684  SA_0000001398        COUNTRY        BWA                AFR
775  3148630  SA_0000001398        COUNTRY        BEN                AFR

    TimeDimType         ParentLocation     Dim1Type  TimeDim  \
0          YEAR                 Europe  ALCOHOLTYPE     2016
1          YEAR        Western Pacific  ALCOHOLTYPE     2016
2          YEAR  Eastern Mediterranean  ALCOHOLTYPE     2016
3          YEAR  Eastern Mediterranean  ALCOHOLTYPE     2016
4          YEAR                 Europe  ALCOHOLTYPE     2016
..          ...                    ...          ...      ...
771        YEAR                 Europe  ALCOHOLTYPE     2016
772        YEAR                 Europe  ALCOHOLTYPE     2016
773        YEAR                 Europe  ALCOHOLTYPE     2016
774        YEAR                 Africa  ALCOHOLTYPE     2016
775        YEAR                 Africa  ALCOHOLTYPE     2016

                             Dim1  ... DataSourceDim    Value NumericValue  \
0             ALCOHOLTYPE_SA_WINE  ...          None       43         None
1    ALCOHOLTYPE_SA_OTHER_ALCOHOL  ...          None        0         None
2    ALCOHOLTYPE_SA_OTHER_ALCOHOL  ...          None  No data         None
3             ALCOHOLTYPE_SA_WINE  ...          None        0         None
4          ALCOHOLTYPE_SA_SPIRITS  ...          None     41.9         None
..                            ...  ...           ...      ...          ...
771        ALCOHOLTYPE_SA_SPIRITS  ...          None     38.5         None
772  ALCOHOLTYPE_SA_OTHER_ALCOHOL  ...          None      4.7         None
773           ALCOHOLTYPE_SA_BEER  ...          None     43.6         None
774           ALCOHOLTYPE_SA_BEER  ...          None     48.1         None
775        ALCOHOLTYPE_SA_SPIRITS  ...          None     13.1         None

      Low  High Comments                       Date TimeDimensionValue  \
0    None  None     None  2018-09-21T08:24:00+02:00               2016
1    None  None     None  2018-09-21T08:24:16+02:00               2016
2    None  None     None  2018-09-21T08:24:02+02:00               2016
3    None  None     None  2018-09-21T08:24:05+02:00               2016
4    None  None     None  2018-09-21T08:24:03+02:00               2016
..    ...   ...      ...                        ...                ...
771  None  None     None  2018-09-21T08:24:11+02:00               2016
772  None  None     None  2018-09-21T08:24:11+02:00               2016
773  None  None     None  2018-09-21T08:24:05+02:00               2016
774  None  None     None  2018-09-21T08:24:12+02:00               2016
775  None  None     None  2018-09-21T08:24:14+02:00               2016

            TimeDimensionBegin           TimeDimensionEnd
0    2016-01-01T00:00:00+01:00  2016-12-31T00:00:00+01:00
1    2016-01-01T00:00:00+01:00  2016-12-31T00:00:00+01:00
2    2016-01-01T00:00:00+01:00  2016-12-31T00:00:00+01:00
3    2016-01-01T00:00:00+01:00  2016-12-31T00:00:00+01:00
4    2016-01-01T00:00:00+01:00  2016-12-31T00:00:00+01:00
..                         ...                        ...
771  2016-01-01T00:00:00+01:00  2016-12-31T00:00:00+01:00
772  2016-01-01T00:00:00+01:00  2016-12-31T00:00:00+01:00
773  2016-01-01T00:00:00+01:00  2016-12-31T00:00:00+01:00
774  2016-01-01T00:00:00+01:00  2016-12-31T00:00:00+01:00
775  2016-01-01T00:00:00+01:00  2016-12-31T00:00:00+01:00

[776 rows x 25 columns]

DataFrame 'df_1' has been written to 'df_1.csv' CSV file.

DataFrame: df_2
         Id  IndicatorCode SpatialDimType SpatialDim TimeDimType  \
0   6801917  SA_0000001732        COUNTRY        EST        YEAR
1   6801938  SA_0000001732        COUNTRY        MNE        YEAR
2   6801943  SA_0000001732        COUNTRY        ROU        YEAR
3   6801912  SA_0000001732        COUNTRY        CYP        YEAR
4   6801939  SA_0000001732        COUNTRY        NLD        YEAR
5   6801952  SA_0000001732        COUNTRY        TUR        YEAR
6   6801951  SA_0000001732        COUNTRY        TKM        YEAR
7   6801914  SA_0000001732        COUNTRY        DEU        YEAR
8   6801913  SA_0000001732        COUNTRY        CZE        YEAR
9   6801911  SA_0000001732        COUNTRY        CHE        YEAR
10  6801906  SA_0000001732        COUNTRY        AZE        YEAR
11  6801941  SA_0000001732        COUNTRY        POL        YEAR
12  6801929  SA_0000001732        COUNTRY        KAZ        YEAR
13  6801946  SA_0000001732        COUNTRY        SRB        YEAR
14  6801934  SA_0000001732        COUNTRY        MCO        YEAR
15  6801933  SA_0000001732        COUNTRY        LVA        YEAR
16  6801924  SA_0000001732        COUNTRY        HUN        YEAR
17  6801925  SA_0000001732        COUNTRY        IRL        YEAR
18  6801902  SA_0000001732        COUNTRY        ALB        YEAR
19  6801916  SA_0000001732        COUNTRY        ESP        YEAR
20  6801953  SA_0000001732        COUNTRY        UKR        YEAR
21  6801927  SA_0000001732        COUNTRY        ISR        YEAR
22  6801910  SA_0000001732        COUNTRY        BLR        YEAR
23  6801950  SA_0000001732        COUNTRY        TJK        YEAR
24  6801909  SA_0000001732        COUNTRY        BIH        YEAR
25  6801908  SA_0000001732        COUNTRY        BGR        YEAR
26  6801948  SA_0000001732        COUNTRY        SVN        YEAR
27  6801928  SA_0000001732        COUNTRY        ITA        YEAR
28  6801930  SA_0000001732        COUNTRY        KGZ        YEAR
29  6801923  SA_0000001732        COUNTRY        HRV        YEAR
30  6801936  SA_0000001732        COUNTRY        MKD        YEAR
31  6801922  SA_0000001732        COUNTRY        GRC        YEAR
32  6801904  SA_0000001732        COUNTRY        ARM        YEAR
33  6801944  SA_0000001732        COUNTRY        RUS        YEAR
34  6801920  SA_0000001732        COUNTRY        GBR        YEAR
35  6801918  SA_0000001732        COUNTRY        FIN        YEAR
36  6801907  SA_0000001732        COUNTRY        BEL        YEAR
37  6801931  SA_0000001732        COUNTRY        LTU        YEAR
38  6801937  SA_0000001732        COUNTRY        MLT        YEAR
39  6801921  SA_0000001732        COUNTRY        GEO        YEAR
40  6801905  SA_0000001732        COUNTRY        AUT        YEAR
41  6801915  SA_0000001732        COUNTRY        DNK        YEAR
42  6801926  SA_0000001732        COUNTRY        ISL        YEAR
43  6801954  SA_0000001732        COUNTRY        UZB        YEAR
44  6801949  SA_0000001732        COUNTRY        SWE        YEAR
45  6801919  SA_0000001732        COUNTRY        FRA        YEAR
46  6801932  SA_0000001732        COUNTRY        LUX        YEAR
47  6801940  SA_0000001732        COUNTRY        NOR        YEAR
48  6801935  SA_0000001732        COUNTRY        MDA        YEAR
49  6801945  SA_0000001732        COUNTRY        SMR        YEAR
50  6801903  SA_0000001732        COUNTRY        AND        YEAR
51  6801942  SA_0000001732        COUNTRY        PRT        YEAR
52  6801947  SA_0000001732        COUNTRY        SVK        YEAR

   ParentLocationCode ParentLocation Dim1Type  Dim1  TimeDim  ...  \
0                 EUR         Europe     None  None     2012  ...
1                 EUR         Europe     None  None     2012  ...
2                 EUR         Europe     None  None     2012  ...
3                 EUR         Europe     None  None     2012  ...
4                 EUR         Europe     None  None     2012  ...
5                 EUR         Europe     None  None     2012  ...
6                 EUR         Europe     None  None     2012  ...
7                 EUR         Europe     None  None     2012  ...
8                 EUR         Europe     None  None     2012  ...
9                 EUR         Europe     None  None     2012  ...
10                EUR         Europe     None  None     2012  ...
11                EUR         Europe     None  None     2012  ...
12                EUR         Europe     None  None     2012  ...
13                EUR         Europe     None  None     2012  ...
14                EUR         Europe     None  None     2012  ...
15                EUR         Europe     None  None     2012  ...
16                EUR         Europe     None  None     2012  ...
17                EUR         Europe     None  None     2012  ...
18                EUR         Europe     None  None     2012  ...
19                EUR         Europe     None  None     2012  ...
20                EUR         Europe     None  None     2012  ...
21                EUR         Europe     None  None     2012  ...
22                EUR         Europe     None  None     2012  ...
23                EUR         Europe     None  None     2012  ...
24                EUR         Europe     None  None     2012  ...
25                EUR         Europe     None  None     2012  ...
26                EUR         Europe     None  None     2012  ...
27                EUR         Europe     None  None     2012  ...
28                EUR         Europe     None  None     2012  ...
29                EUR         Europe     None  None     2012  ...
30                EUR         Europe     None  None     2012  ...
31                EUR         Europe     None  None     2012  ...
32                EUR         Europe     None  None     2012  ...
33                EUR         Europe     None  None     2012  ...
34                EUR         Europe     None  None     2012  ...
35                EUR         Europe     None  None     2012  ...
36                EUR         Europe     None  None     2012  ...
37                EUR         Europe     None  None     2012  ...
38                EUR         Europe     None  None     2012  ...
39                EUR         Europe     None  None     2012  ...
40                EUR         Europe     None  None     2012  ...
41                EUR         Europe     None  None     2012  ...
42                EUR         Europe     None  None     2012  ...
43                EUR         Europe     None  None     2012  ...
44                EUR         Europe     None  None     2012  ...
45                EUR         Europe     None  None     2012  ...
46                EUR         Europe     None  None     2012  ...
47                EUR         Europe     None  None     2012  ...
48                EUR         Europe     None  None     2012  ...
49                EUR         Europe     None  None     2012  ...
50                EUR         Europe     None  None     2012  ...
51                EUR         Europe     None  None     2012  ...
52                EUR         Europe     None  None     2012  ...

   DataSourceDim Value NumericValue   Low  High      Comments  \
0           None   Yes         None  None  None          None
1           None    No         None  None  None          None
2           None   Yes         None  None  None          None
3           None    No         None  None  None          None
4           None    No         None  None  None          None
5           None    No         None  None  None          None
6           None  None         None  None  None  missing data
7           None   Yes         None  None  None          None
8           None   Yes         None  None  None          None
9           None    No         None  None  None          None
10          None    No         None  None  None          None
11          None   Yes         None  None  None          None
12          None  None         None  None  None  missing data
13          None    No         None  None  None          None
14          None  None         None  None  None  missing data
15          None   Yes         None  None  None          None
16          None   Yes         None  None  None          None
17          None    No         None  None  None          None
18          None   Yes         None  None  None          None
19          None   Yes         None  None  None          None
20          None   Yes         None  None  None          None
21          None  None         None  None  None  missing data
22          None   Yes         None  None  None          None
23          None  None         None  None  None  missing data
24          None    No         None  None  None          None
25          None   Yes         None  None  None          None
26          None   Yes         None  None  None          None
27          None   Yes         None  None  None          None
28          None   Yes         None  None  None          None
29          None   Yes         None  None  None          None
30          None    No         None  None  None          None
31          None   Yes         None  None  None          None
32          None   Yes         None  None  None          None
33          None   Yes         None  None  None          None
34          None   Yes         None  None  None          None
35          None   Yes         None  None  None          None
36          None    No         None  None  None          None
37          None   Yes         None  None  None          None
38          None    No         None  None  None          None
39          None  None         None  None  None  missing data
40          None    No         None  None  None          None
41          None   Yes         None  None  None          None
42          None   Yes         None  None  None          None
43          None  None         None  None  None  missing data
44          None   Yes         None  None  None          None
45          None    No         None  None  None          None
46          None   Yes         None  None  None          None
47          None   Yes         None  None  None          None
48          None   Yes         None  None  None          None
49          None   Yes         None  None  None          None
50          None  None         None  None  None  missing data
51          None   Yes         None  None  None          None
52          None    No         None  None  None          None

                         Date TimeDimensionValue         TimeDimensionBegin  \
0   2014-01-03T16:09:30+01:00               2012  2012-01-01T00:00:00+01:00
1   2014-01-03T16:09:31+01:00               2012  2012-01-01T00:00:00+01:00
2   2014-01-03T16:09:31+01:00               2012  2012-01-01T00:00:00+01:00
3   2014-01-03T16:09:29+01:00               2012  2012-01-01T00:00:00+01:00
4   2014-01-03T16:09:31+01:00               2012  2012-01-01T00:00:00+01:00
5   2014-01-03T16:09:32+01:00               2012  2012-01-01T00:00:00+01:00
6   2014-01-14T14:45:57+01:00               2012  2012-01-01T00:00:00+01:00
7   2014-01-03T16:09:30+01:00               2012  2012-01-01T00:00:00+01:00
8   2014-01-03T16:09:30+01:00               2012  2012-01-01T00:00:00+01:00
9   2014-01-03T16:09:32+01:00               2012  2012-01-01T00:00:00+01:00
10  2014-01-03T16:09:29+01:00               2012  2012-01-01T00:00:00+01:00
11  2014-01-03T16:09:31+01:00               2012  2012-01-01T00:00:00+01:00
12  2014-01-14T14:45:57+01:00               2012  2012-01-01T00:00:00+01:00
13  2014-01-03T16:09:31+01:00               2012  2012-01-01T00:00:00+01:00
14  2014-01-14T14:45:57+01:00               2012  2012-01-01T00:00:00+01:00
15  2014-01-03T16:09:31+01:00               2012  2012-01-01T00:00:00+01:00
16  2014-01-03T16:09:30+01:00               2012  2012-01-01T00:00:00+01:00
17  2014-01-03T16:09:30+01:00               2012  2012-01-01T00:00:00+01:00

In [5]:
display(df_0)

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,TimeDim,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,4548508,SA_0000001476,COUNTRY,HUN,EUR,YEAR,Europe,None,None,2013,...,DATASOURCE_SA_0000001476_HUN,3,3.0,None,None,None,2018-10-25T13:07:08+02:00,2013,2013-01-01T00:00:00+01:00,2013-12-31T00:00:00+01:00
1,4539127,SA_0000001476,COUNTRY,CAN,AMR,YEAR,Americas,None,None,2004,...,DATASOURCE_SA_0000001476_CAN,2.1,2.1,None,None,None,2018-10-25T13:07:00+02:00,2004,2004-01-01T00:00:00+01:00,2004-12-31T00:00:00+01:00
2,4539079,SA_0000001476,COUNTRY,GBR,EUR,YEAR,Europe,None,None,2012,...,DATASOURCE_SA_0000001476_GBR,1.6,1.6,None,None,None,2018-10-25T13:07:01+02:00,2012,2012-01-01T00:00:00+01:00,2012-12-31T00:00:00+01:00
3,4539550,SA_0000001476,COUNTRY,NOR,EUR,YEAR,Europe,None,None,1995,...,DATASOURCE_SA_0000001476_NOR,4.1,4.1,None,None,None,2018-10-25T13:07:03+02:00,1995,1995-01-01T00:00:00+01:00,1995-12-31T00:00:00+01:00
4,4519729,SA_0000001476,COUNTRY,MDA,EUR,YEAR,Europe,None,None,1992,...,DATASOURCE_SA_0000001476_MDA,2.2,2.2,None,None,None,2018-10-25T13:07:09+02:00,1992,1992-01-01T00:00:00+01:00,1992-12-31T00:00:00+01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,4539112,SA_0000001476,COUNTRY,AUT,EUR,YEAR,Europe,None,None,2000,...,DATASOURCE_SA_0000001476_AUT,1.4,1.4,None,None,None,2018-10-25T13:07:03+02:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00
501,4539183,SA_0000001476,COUNTRY,ROU,EUR,YEAR,Europe,None,None,2008,...,DATASOURCE_SA_0000001476_ROU,4,4.0,None,None,None,2018-10-25T13:07:11+02:00,2008,2008-01-01T00:00:00+01:00,2008-12-31T00:00:00+01:00
502,4529193,SA_0000001476,COUNTRY,FIN,EUR,YEAR,Europe,None,None,2002,...,DATASOURCE_SA_0000001476_FIN,5.5,5.5,None,None,None,2018-10-25T13:07:09+02:00,2002,2002-01-01T00:00:00+01:00,2002-12-31T00:00:00+01:00
503,4539558,SA_0000001476,COUNTRY,DNK,EUR,YEAR,Europe,None,None,1999,...,DATASOURCE_SA_0000001476_DNK,2.3,2.3,None,None,None,2018-10-25T13:07:11+02:00,1999,1999-01-01T00:00:00+01:00,1999-12-31T00:00:00+01:00
504,4539491,SA_0000001476,COUNTRY,FIN,EUR,YEAR,Europe,None,None,2014,...,DATASOURCE_SA_0000001476_FIN,4.2,4.2,None,None,None,2018-10-25T13:07:04+02:00,2014,2014-01-01T00:00:00+01:00,2014-12-31T00:00:00+01:00

In [6]:
# # Drop the first column from df_0
# df_0.drop(df_0.columns[0], axis=1, inplace=True)

# display(df_0)
# # # Extract 'Id' from the dictionary in the ' @odata.context' column and replace it
# # df_0['@odata.context'] = df_0['@odata.context'].apply(pd.Series)['Id']

# # # Display the modified DataFrame
# # print(df_0)

In [7]:
# expanded_df = pd.json_normalize(df_0['value'])
# display(expanded_df)

In [8]:
df_0_4= pd.merge(df_0, df_4, on=['TimeDimensionValue', 'SpatialDim'], how='inner')
display(df_0_4)

,Id_x,IndicatorCode_x,SpatialDimType_x,SpatialDim,ParentLocationCode_x,TimeDimType_x,ParentLocation_x,Dim1Type_x,Dim1_x,TimeDim_x,...,DataSourceDimType_y,DataSourceDim_y,Value_y,NumericValue_y,Low_y,High_y,Comments_y,Date_y,TimeDimensionBegin_y,TimeDimensionEnd_y
0,4548523,SA_0000001476,COUNTRY,IRL,EUR,YEAR,Europe,None,None,2015,...,None,None,70.2,70.15884,None,None,None,2020-12-04T17:01:30+01:00,2015-01-01T00:00:00+01:00,2015-12-31T00:00:00+01:00
1,4548523,SA_0000001476,COUNTRY,IRL,EUR,YEAR,Europe,None,None,2015,...,None,None,71.2,71.16127,None,None,None,2020-12-04T17:01:31+01:00,2015-01-01T00:00:00+01:00,2015-12-31T00:00:00+01:00
2,4548523,SA_0000001476,COUNTRY,IRL,EUR,YEAR,Europe,None,None,2015,...,None,None,70.7,70.66066,None,None,None,2020-12-04T17:01:31+01:00,2015-01-01T00:00:00+01:00,2015-12-31T00:00:00+01:00
3,4539527,SA_0000001476,COUNTRY,MKD,EUR,YEAR,Europe,None,None,2015,...,None,None,66.5,66.53970,None,None,None,2020-12-04T17:02:16+01:00,2015-01-01T00:00:00+01:00,2015-12-31T00:00:00+01:00
4,4539527,SA_0000001476,COUNTRY,MKD,EUR,YEAR,Europe,None,None,2015,...,None,None,64.2,64.16281,None,None,None,2020-12-04T17:02:15+01:00,2015-01-01T00:00:00+01:00,2015-12-31T00:00:00+01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,4548522,SA_0000001476,COUNTRY,HUN,EUR,YEAR,Europe,None,None,2015,...,None,None,68.7,68.67419,None,None,None,2020-12-04T17:01:26+01:00,2015-01-01T00:00:00+01:00,2015-12-31T00:00:00+01:00
182,4548522,SA_0000001476,COUNTRY,HUN,EUR,YEAR,Europe,None,None,2015,...,None,None,64.3,64.34644,None,None,None,2020-12-04T17:01:26+01:00,2015-01-01T00:00:00+01:00,2015-12-31T00:00:00+01:00
183,4539112,SA_0000001476,COUNTRY,AUT,EUR,YEAR,Europe,None,None,2000,...,None,None,69.8,69.81113,None,None,None,2020-12-04T16:59:53+01:00,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00
184,4539112,SA_0000001476,COUNTRY,AUT,EUR,YEAR,Europe,None,None,2000,...,None,None,66.3,66.34692,None,None,None,2020-12-04T16:59:53+01:00,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00
185,4539112,SA_0000001476,COUNTRY,AUT,EUR,YEAR,Europe,None,None,2000,...,None,None,68.2,68.17779,None,None,None,2020-12-04T16:59:53+01:00,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00

In [9]:
# Write DataFrame to CSV
df_0_4.to_csv("life_expectancy_household_percent.csv", index=False)

In [10]:
df_0_4= pd.merge(df_0, df_4,df_6,df_7,df_8, on=['TimeDimensionValue', 'SpatialDim'], how='inner')
display(df_0_8)

TypeError: merge() got multiple values for argument 'on'