In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import csv

In [2]:
url= "https://ghoapi.azureedge.net/api/SA_0000001476"

In [3]:
requests.get(url)

In [4]:
response = requests.get(url).json()

In [6]:
type(response)

dict

In [8]:
df1 = pd.DataFrame(response)
display(df1)

,@odata.context,value
0,https://ghoapi.azureedge.net/api/$metadata#SA_...,"{'Id': 4529097, 'IndicatorCode': 'SA_000000147..."
1,https://ghoapi.azureedge.net/api/$metadata#SA_...,"{'Id': 4519726, 'IndicatorCode': 'SA_000000147..."
2,https://ghoapi.azureedge.net/api/$metadata#SA_...,"{'Id': 4539508, 'IndicatorCode': 'SA_000000147..."
3,https://ghoapi.azureedge.net/api/$metadata#SA_...,"{'Id': 4519696, 'IndicatorCode': 'SA_000000147..."
4,https://ghoapi.azureedge.net/api/$metadata#SA_...,"{'Id': 4529109, 'IndicatorCode': 'SA_000000147..."
...,...,...
500,https://ghoapi.azureedge.net/api/$metadata#SA_...,"{'Id': 4529070, 'IndicatorCode': 'SA_000000147..."
501,https://ghoapi.azureedge.net/api/$metadata#SA_...,"{'Id': 4519711, 'IndicatorCode': 'SA_000000147..."
502,https://ghoapi.azureedge.net/api/$metadata#SA_...,"{'Id': 4539579, 'IndicatorCode': 'SA_000000147..."
503,https://ghoapi.azureedge.net/api/$metadata#SA_...,"{'Id': 4529193, 'IndicatorCode': 'SA_000000147..."
504,https://ghoapi.azureedge.net/api/$metadata#SA_...,"{'Id': 4539575, 'IndicatorCode': 'SA_000000147..."

In [20]:
outer_dict = response

inner_dicts = list(outer_dict.values())

innerdict2 = inner_dicts[1]

df3 = pd.DataFrame(innerdict2)

display(df3)

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,ParentLocationCode,ParentLocation,Dim1Type,Dim1,TimeDim,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,4529097,SA_0000001476,COUNTRY,ROU,YEAR,EUR,Europe,None,None,1997,...,DATASOURCE_SA_0000001476_ROU,2.9,2.9,None,None,None,2018-10-25T13:07:01+02:00,1997,1997-01-01T00:00:00+01:00,1997-12-31T00:00:00+01:00
1,4519726,SA_0000001476,COUNTRY,CAN,YEAR,AMR,Americas,None,None,1992,...,DATASOURCE_SA_0000001476_CAN,2.2,2.2,None,None,None,2018-10-25T13:07:10+02:00,1992,1992-01-01T00:00:00+01:00,1992-12-31T00:00:00+01:00
2,4539508,SA_0000001476,COUNTRY,GEO,YEAR,EUR,Europe,None,None,1991,...,DATASOURCE_SA_0000001476_GEO,1.1,1.1,None,None,None,2018-10-25T13:07:01+02:00,1991,1991-01-01T00:00:00+01:00,1991-12-31T00:00:00+01:00
3,4519696,SA_0000001476,COUNTRY,ZWE,YEAR,AFR,Africa,None,None,1990,...,DATASOURCE_SA_0000001476_ZWE,7,7.0,None,None,None,2018-10-25T13:07:11+02:00,1990,1990-01-01T00:00:00+01:00,1990-12-31T00:00:00+01:00
4,4529109,SA_0000001476,COUNTRY,ARM,YEAR,EUR,Europe,None,None,1996,...,DATASOURCE_SA_0000001476_ARM,1.3,1.3,None,None,None,2018-10-25T13:07:07+02:00,1996,1996-01-01T00:00:00+01:00,1996-12-31T00:00:00+01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,4529070,SA_0000001476,COUNTRY,NOR,YEAR,EUR,Europe,None,None,1992,...,DATASOURCE_SA_0000001476_NOR,4.4,4.4,None,None,None,2018-10-25T13:07:09+02:00,1992,1992-01-01T00:00:00+01:00,1992-12-31T00:00:00+01:00
501,4519711,SA_0000001476,COUNTRY,KGZ,YEAR,EUR,Europe,None,None,1993,...,DATASOURCE_SA_0000001476_KGZ,2.8,2.8,None,None,None,2018-10-25T13:07:00+02:00,1993,1993-01-01T00:00:00+01:00,1993-12-31T00:00:00+01:00
502,4539579,SA_0000001476,COUNTRY,RUS,YEAR,EUR,Europe,None,None,2005,...,DATASOURCE_SA_0000001476_RUS,1.9,1.9,None,None,None,2018-10-25T13:07:02+02:00,2005,2005-01-01T00:00:00+01:00,2005-12-31T00:00:00+01:00
503,4529193,SA_0000001476,COUNTRY,FIN,YEAR,EUR,Europe,None,None,2002,...,DATASOURCE_SA_0000001476_FIN,5.5,5.5,None,None,None,2018-10-25T13:07:09+02:00,2002,2002-01-01T00:00:00+01:00,2002-12-31T00:00:00+01:00
504,4539575,SA_0000001476,COUNTRY,ARM,YEAR,EUR,Europe,None,None,2005,...,DATASOURCE_SA_0000001476_ARM,1.6,1.6,None,None,None,2018-10-25T13:07:02+02:00,2005,2005-01-01T00:00:00+01:00,2005-12-31T00:00:00+01:00

In [23]:
df3.to_csv('./who_per_income.csv', index=False)